section{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    text-align: justify;
    font-size: 18px;

    border: 1px solid rgb(136, 136, 136);
    border-radius:5px;

    box-shadow: 2px 2px 5px rgb(136, 136, 136);
}

section h3{
    text-align: center;
    text-transform: uppercase;
    color: orange;
}

section button{
    width: 200px;
    height: 50px;
    color: white;
    font-size: 16px;
    background-color: orange;
    text-transform: uppercase;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    
    box-shadow: 0 -2px inset gray;

}

section button:hover{
    background-color: rgba(255, 166, 0, 0.336);
}